<div class="area">
    <ul class="circles" style="--main-color : rgb(235, 12, 224);">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <app-navbar style="--active: 'linkAbout'"></app-navbar>
    <div class="fill" *ngIf="aboutData$ | async as data">
        <h2>{{ data.title }}</h2>
        <p class="intro">{{ data.intro }}</p>

        <div class="bio-pars">
            <p *ngFor="let paragraph of data.bio">{{ paragraph }}</p>
        </div>

        <a class="contact-link" routerLink="/Contact">Contact ></a>
    </div>
</div>