
<div class="area">
    <ul class="circles" style="--main-color : rgb(235, 12, 224);">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <app-navbar style="--active: 'linkAbout'"></app-navbar>
    <div class="fill">
        <h2>My name is Tobias Sirne.</h2>
        <p>I'm an 19 years old boy from Argentina. <br>
           Who work on Data Analysis. <br>
           </p>
        <p>
            I'm also a very worker person, i make clean-jobs, <br>
            and im so perfectionist in my life and work. <br>
            I'm consistent and focus about what i do. 
        </p>
        <p>I value too much the knowledge, for that reason, <br>
            every time i learn something new, a new <br>
            tecnology, method or concepts.
        </p>
        <a class="contact-link" routerLink="/Contact" style="color:rgb(31, 12, 235)">Contact ></a>
    </div>
</div>
