<div class="area">
    <ul class="circles" style="--main-color : rgb(12, 235, 71);">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <app-navbar style="--active: 'linkWriting'"></app-navbar>

    <div class="work-card">
        <h1 class="work-title">ML model cars</h1>
        <a class="work-img-container col-100" target="_blank" href="https://github.com/Tototastico/Modelo-ML-automoviles">
            <img class="work-img-green col-50" src="assets/mlauto.jpeg" alt="">
        </a>
        <p>Car Price Prediction and Ranking</p>
        <hr>
    </div>

    <div class="work-card">
        <h1 class="work-title">Project API Steam</h1>
        <a class="work-img-container col-100" target="_blank" href="https://github.com/Tototastico/API-SteamGames">
            <img class="work-img-green col-50" src="assets/proyecto2.jpeg" alt="">
        </a>
        <p>Video Game Recommendation System</p>
        <hr>
    </div>

    <div class="work-card">
        <h1 class="work-title">Project | Data Analysis</h1>
        <a class="work-img-container col-100" target="_blank" href="https://github.com/Tototastico/DataAnalysis-Accidentes-Viales" >
            <img class="work-img-green col-50" src="assets/poyectoanalisis.jpeg" alt="">
        </a>
        <p>Reduction of Road Accidents in the City of Buenos Aires</p>
        <hr>
    </div>
</div>