<div class="area">
    <ul class="circles" style="--main-color : rgb(31, 12, 235);">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <app-navbar style="--active: 'linkContact'"></app-navbar>
    <div class="fill">
        <h1>Talk to me -></h1>
        <div class="card">
            <a target="_blank" href="mailto:sirnetobias1@gmail.com">
                <img src="assets/mail.svg" alt="Mail logo">
            </a>
        </div>

        <div class="card">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=541121809844&text=Hello%20man,%20I%20have%20read%20your%20portfolio%20and%20i%20want%20to%20comunicate%20with%20you.">
                <img src="assets/whatsapp.svg" alt="Whatsapp logo">
            </a>
        </div>

        <div class="card">
            <a target="_blank" href="https://linkedin.com/in/tobias-sirne">
                <img src="assets/linkedin.svg" alt="LinkedIn logo">
            </a>
        </div>

        <div class="card">
            <a target="_blank" href="https://www.instagram.com/tobi_sirne/">
                <img src="assets/instagram.svg" alt="Instagram logo">
            </a>
        </div>

    </div>
</div>