<div class="area">
    <ul class="circles" style="--main-color : rgb(247, 156, 0);">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <app-navbar style="--active: 'linkWork'"></app-navbar>
    <div class="work-container">
        <div class="work-card" *ngFor="let item of workItems$ | async">
            <h1 class="work-title">{{ item.title }}</h1>
            <a class="work-img-container col-100" target="_blank" [href]="item.link">
                <!-- Assuming 2 images max for now based on previous code, or loop images -->
                <img *ngFor="let img of item.images" class="work-img col-50" [src]="img" alt="">
            </a>
            <p>{{ item.description }}</p>
        </div>
    </div>
</div>