<div class="area">
    <ul class="circles" style="--main-color : rgb(247, 156, 0);">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <app-navbar style="--active: 'linkWork'"></app-navbar>
    <div class="work-card">
        <h1 class="work-title">Go up cloud</h1>
        <a class="work-img-container col-100" target="_blank" href="https://www.goup.cloud/project/procesamiento-con-analisis-cognitivo-para-datos-clinicos-en-azure/">
            <img class="work-img col-50" src="assets/infraestructura.png" alt="">
            <img class="work-img col-50" src="assets/azure.png" alt="">
        </a>
        <p> I was a temp on a Tech Startup from Chile <br>
            working on a important project for the company </p>
    </div>
<!--
    <div class="work-card">
        <h1 class="work-title">Gallery art</h1>
        <a routerLink="/Work" class="work-img-container col-100">
            <img class="work-img col-50" src="assets/Galleryart1.jpg" alt="">
            <img class="work-img col-50" src="assets/Galleryart2.jpg" alt="">
        </a>
        <p>This is my personal gallery art, with images maded by AI and me</p>
    </div>
    <div class="work-card">
        <h1 class="work-title">Real state website</h1>
        <a routerLink="/Work" class="work-img-container col-100">
            <img class="work-img col-50" src="assets/Cfprop1.jpg" alt="">
            <img class="work-img col-50" src="assets/Cfprop2.jpg" alt="">
        </a>
        <p>This was my first freelancer job as a web developer, i made a
            website for a real state business, and was the most complex project i have made
        </p>
    </div>-->
</div>
