<div class="area">
    <ul class="circles" style="--main-color : rgb(247, 156, 0);">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <app-navbar style="--active: 'linkWork'"></app-navbar>
    <div class="work-card">
        <h1 class="work-title">Go up cloud</h1>
        <a class="work-img-container col-100" target="_blank" href="https://www.goup.cloud/project/procesamiento-con-analisis-cognitivo-para-datos-clinicos-en-azure/">
            <img class="work-img col-50" src="assets/infraestructura.png" alt="">
            <img class="work-img col-50" src="assets/azure-health.png" alt="">
        </a>
        <p>Internship at Go Up Cloud in Chile, as a data engineering  <br>
            experience in challenging projects, and professional growth. </p>
    </div>
</div>