@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
    --main-color : #68eae2;
    --main-color-lightblue : #68eae2;
    --main-color-pink :  rgb(235, 12, 224);
    --main-color-orange : rgb(247, 156, 0);
    --main-color-green: rgb(12, 235, 71);
    --main-color-blue: rgb(31, 12, 235);
    --active: ' '
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: orangered;
  font-family: "Lato", sans-serif; 
}

::selection {
  background-color: var(--main-color);
  color: rgba(7, 7, 7);
}

button {
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: 1px solid white;
  background-color: white;
  color: white;
  transition: all 400ms ease-in-out;
}
button:hover {
  background-color: #025b5e;
}
button.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button.icon img {
  margin-right: 0.3rem;
}

.card {
  padding: 1rem;
  margin: 0 .5rem;
}
.card h1 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}
.card p:nth-of-type(1) {
  margin-top: 1rem;
}

form {
  width: 100%;
}
form .row {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
form .row label {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
form .row input {
  border: 1px solid #67666e;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  width: 100%;
  transition: 400ms all ease-in-out;
}
form .row input:focus {
  outline: none;
}
form .row.end {
  flex-direction: row;
  justify-content: flex-end;
}

table {
  width: 100%;
  margin-top: 1rem;
}
table th {
  padding: 0.5rem 1rem;
  background-color: white;
  color: white;
}
table td {
  padding: 0.5rem 1rem;
  border: 1px solid white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  padding: 1rem;
}
@media (max-width: 720px) {
  .row {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
}

.col-100 {
  width: 100%;
  padding: 0.5rem 1rem;
}
.col-75 {
  width: 75%;
  padding: 0.5rem 1rem;
}
.col-66 {
  width: 66.6666%;
  padding: 0.5rem 1rem;
}
.col-50 {
  width: 50%;
  padding: 0.5rem 1rem;
}
.col-33 {
  width: 33.3333%;
  padding: 0.5rem 1rem;
}
.col-25 {
  width: 25%;
  padding: 0.5rem 1rem;
}
@media (max-width: 720px) {
  .col-75, .col-66, .col-50, .col-33, .col-25 {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-center {
  align-items: center;
}

.m-t {
  margin-top: 1rem;
}

.m-b {
  margin-bottom: 1rem;
}

.m-l {
  margin-left: 1rem;
}

.m-r {
  margin-right: 1rem;
}

.m-t-small {
  margin-top: 0.5rem;
}

.m-b-small {
  margin-bottom: 0.5rem;
}

.m-l-small {
  margin-left: 0.5rem;
}

.m-r-small {
  margin-right: 0.5rem;
}


/* Generales */
html {
  font-size: 22px;
}
@media (max-width: 960px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #67666e;
  background-color: rgb(7, 7, 7);
}

h1 {
  font-size: 1.5rem;
  color: white;
}

a {
    text-decoration: none;
    font-size: .8rem;
}

.navbar{
    height: 5vh;
    position: relative;
    top: 10px;
}
.navbar .card {
  border-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    transition: 200ms ease-in-out all;
    border-radius: 15px;
    background-color: transparent;
    border: 5px solid;
    animation: colorMove 5s infinite;
  }

  @keyframes colorMove{
    0%{
      border-color: white;
    }
    70%{
      border-color: rgb(7, 7, 7);
    }
    100% {
      border-color: white;
    }
  }

.navbar a {
    color: white;
    margin: 0 20px;
}

.--active,
.navbar a:hover{
    color: var(--main-color);
}



/*
.linkHome {border-bottom: 2px solid #68eae2;}

.linkAbout {border-bottom: 2px solid rgb(235, 12, 224);}

.linkWork {border-bottom: 2px solid rgb(247, 156, 0);}

.linkWriting {border-bottom: 2px solid rgb(12, 235, 71);}

.linkContact {border-bottom: 2px solid rgb(31, 12, 235);}
*/

.linq,
.linq *,
.linq :after,
.linq :before,
.linq:after,
.linq:before {
  border: 0 solid;
  box-sizing: border-box;
}

.linq {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: .8rem;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, var(--main-color));
  padding: 0;
}
.linq:disabled {
  cursor: default;
}
.linq:-moz-focusring {
  outline: auto;
}
.linq [hidden] {
  display: none; 
}
.linq {
  --thickness: 4px;
  background: none;
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% + var(--thickness)),
    0 calc(100% + var(--thickness))
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% + var(--thickness)),
    0 calc(100% + var(--thickness))
  );

  font-weight: 600;
  -webkit-mask-image: none;
  padding: 2px 0;
  position: relative;
  text-transform: uppercase;
}

.linq:before {
  background: var(--main-color);
  bottom: calc(var(--thickness) * -1);
  content: "";

  height: var(--thickness);
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.linq:hover:before {
  -webkit-animation: slide 0.5s ease;
  animation: slide 0.5s ease;
}

.linkContact:hover::before{
  animation: none;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.linkHome:before {background: var(--main-color);}

.linkAbout:before {background: var(--main-color-pink);}

.linkWork:before {background: var(--main-color-orange);}

.linkWriting:before {background: var(--main-color-green);}

.linkContact:before {background: var(--main-color-blue);}


/*                       BACKGROUND                                    */

.context {
    width: 100%;
    position: absolute;
    /*top:50vh;*/
    
}

.area{
    background: rgb(7, 7, 7);  
    background: -webkit-linear-gradient(to left, #424242, white);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    animation: animate 5s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*                       FILLING                                    */

.fill {
    position: relative;
    margin: 10px 80px;
    padding: 10px;
    top: 10vh;
}

.fill h1 {
    font-size: 3rem;
    /*border: 4px solid red;*/
    width: 60%;
    color: rgba(255, 255, 255, 1);
    margin: 40px 0;
}

.fill h2 {
    /*border: 4px solid blue;*/
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.fill p {
    font-size: 1.2rem;
    /*border: 4px solid rgb(0, 207, 0);*/
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px
}

.fill a {
  color: var(--main-color);
}

/*            WORK           */

.work-img-container {
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  cursor: default;
}

.work-img{
  width: 45%;
  margin: auto;
  border: 5px solid var(--main-color-orange);
  border-radius: 10px;
  filter: grayscale(1);
  transition: all ease-in-out 300ms;
}

.work-img-green{
  width: 45%;
  margin: auto;
  border: 5px solid var(--main-color-green);
  border-radius: 10px;
  filter: grayscale(1);
  transition: all ease-in-out 300ms;
}

.work-img:hover{
  scale:1.1;
  filter: grayscale(0);
}
.work-img-green:hover{
  scale:1.1;
  filter: grayscale(0);
}

.work-title {
  margin: 20px;
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.work-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 10px;
  color: white;
  width: 80%;
  text-align: center;
} 

/*Scrollbar*/

*::-webkit-scrollbar{
  color: black;
}