<div class="area">
    <ul class="circles" style="--main-color : rgb(255, 4, 3);">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <app-navbar style="--active: 'linkContact'"></app-navbar>
    <div class="fill">
        <div class="row knowledge-grid">
            <div class="column" *ngFor="let item of knowledgeItems$ | async">
                <figure>
                    <img [src]="item.image" [alt]="item.name">
                    <div class="capa">
                        <h2>{{ item.name }}</h2>
                    </div>
                </figure>
            </div>
        </div>
        Software icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</div>